<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quibusdam sed magnam cumque cum ducimus repellat nisi nesciunt, tempora cupiditate temporibus corrupti possimus unde dolor eaque, facere quae eum aliquid?</p>
    <h2 style="background-color: aqua;">Nombre: {{ Nombre }}</h2>
    <h2 style="color: red;">Apellido: {{ Apellido }}</h2>
    <h6> Fecha y Hora: {{ Fecha }}</h6>
</body>
</html>